.container {
  width: 480px !important;
  color: #314d3e;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 4px 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 1px solid #00bcd4;
  border-color: #66afe9;
}

button {
  width: 100%;
  font-size: 16px;
  margin: 10px 10px;
  padding: 2px 4px;
  background-color: rgb(94, 0, 138) !important;
  color: #fff;
}

button:hover {
  background-color: rgb(120, 4, 173) !important;
}

.btn-success {
  background-color: rgb(21, 153, 4) !important;
  color: #fff;
}

.btn-success:hover {
  background-color: rgb(25, 182, 4) !important;
}

.options{
  position: relative;
  padding-left: 40px;
}
#options label{
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
}
.options input{
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
  display: block;
}
.options .checkmark:after{
  content: "";
width: 10px;
  height: 10px;
  display: block;
background: white;
  position: absolute;
  top: 50%;
left: 50%;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
  background: #21bf73;
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
  transform: translate(-50%,-50%) scale(1);
}

